body{
	background-color: lightblue;
}

.base{
	height: 700px;
	width: 700px;
	background-color: white;
	margin: 0 auto;
	background-image: url(../images/cartoon_farm.jpg);
	background-repeat: no-repeat;
	background-size: 700px;
}

.how-to-play {
	height: 400px;
	width: 400px;
	background-color: white;
	border: solid black 1px;
	margin: 0 auto;
	position: relative;
    top: 10%;
}

.how-to-play p {
	padding: 20px 20px 0px 30px;
    font-size: 18px;
    font-family: Arial;
}

#gameBoard {
	height: 710px;
	width: 701px;
	background-color: lightblue;
	margin: 0 auto;
}

#tiles{
	height: 710px;
	width: 701px;
	background-color: lightblue;
	margin: 0 auto;
}

h1 {
	text-align: center;
	font-size: 40px;
	font-family: Arial;
}

#tiles div {
	vertical-align: top;
	background-color: white;
	display: inline-block;
	height: 150px;
	width: 150px;
	border: solid black 2px;
	margin: 5px;
	padding: 5px;
	background-size: 150px;
	cursor: pointer;
	border-radius: 20px;
	box-shadow: 3px 3px 5px grey;
}

#tiles div img {
	height: 150px;
    width: 150px;
}

#begin{
	background-color: orange;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 30px;
    margin: 246px;
    position: relative;
    font-family: Arial;
    display: inline;
    margin-left: 277px;

}

#gameButtons {
    display: block;
    margin: 20px;
    text-align: center;
}

#gameButtons .button {
    background-color: orange;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 30px;
    margin: 30px;
}

.selected img {
	opacity: 1; 
}

.link {
	text-decoration: none;
	color: black;
}

.win-message p {
	font-size: 27px;
	color: orange;
	text-align: center;
}
