body{
	background-color: lightblue;
}

.base{
	height: 700px;
	width: 700px;
	background-color: white;
	margin: 0 auto;
	background-image: url(../images/cartoon_farm.jpg);
	background-repeat: no-repeat;
	background-size: 700px;
}

#how-to-play {
	height: 400px;
	width: 400px;
	background-color: white;
	border: solid black 1px;
	margin: 0 auto;
	position: relative;
    top: 10%;
}

#how-to-play p {
	padding: 20px 20px 0px 30px;
    font-size: 18px;
    font-family: Arial;
}

#gameBoard {
	height: 710px;
	width: 701px;
	background-color: lightblue;
	margin: 0 auto;
}

#tiles{
	height: 710px;
	width: 701px;
	background-color: lightblue;
	margin: 0 auto;
}

h1 {
	text-align: center;
	font-size: 40px;
	font-family: Arial;
}

#tiles div {
	vertical-align: top;
	background-color: white;
	display: inline-block;
	height: 150px;
	width: 150px;
	border: solid black 2px;
	margin: 5px;
	padding: 5px;
	background-size: 150px;
	cursor: pointer;
	border-radius: 20px;
	box-shadow: 3px 3px 5px grey;
}

#tiles div img {
	height: 150px;
    width: 150px;
}

#begin{
	background-color: orange;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 30px;
    margin: 246px;
    position: relative;
    font-family: Arial;
    display: inline;

}

#gameButtons {
    display: block;
    margin: 20px;
    text-align: center;
}

#gameButtons .button {
    background-color: orange;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 30px;
    margin: 30px;
}

.selected img {
	opacity: 1; 
}

#reset {
	text-decoration: none;
	color: black;
}

#win-message p {
	font-size: 30px;
	color: orange;
	text-align: center;
}



/*image URLs
http://cainteoir.com/cainteoir_files/angry_farmer.jpg
https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdq17hLGncEgxHMqcNDk-7WaQphdqeJ8MU2zYHoCvInVxa_67M
http://www.how-to-draw-funny-cartoons.com/image-files/how-to-draw-a-goat-8.gif
https://s-media-cache-ak0.pinimg.com/originals/2f/37/29/2f3729b572f521dbde4826f17f884e34.png
https://s-media-cache-ak0.pinimg.com/736x/21/b9/01/21b901b21da6044eb64e60b132869c3b--head-clipart-graphic-cow.jpg
https://s-media-cache-ak0.pinimg.com/originals/7a/36/5f/7a365f963f0a001c0925dd799acadfbb.gif
https://s-media-cache-ak0.pinimg.com/originals/59/7c/7e/597c7eff1f8e9b2feaf9f3e13c975c18.jpg
https://s-media-cache-ak0.pinimg.com/originals/02/6c/0f/026c0fdc92f43339b0404d020a4d12c5.png
*/